<div class="admin-reserves">
  <div class="admin-reserves-center">
    <div class="admin-reserves-title">予約一覧</div>
    <div class="admin-reserves-new">
      <div class="admin-reserves-new-button"><%= link_to '新規予約する', new_admin_reserf_path %></div>
    </div>
    <div class="admin-reserves-index">
      <% @reservations.each do |reservation| %>
        <div class="admin-reserve">
          <%= link_to reservation.id, admin_reserf_path(reservation.id) %><br>
          <%= reservation.reservation_date %>
          <%= reservation.reservation_time %><br>
          <%= reservation.tel_number %>
        </div>
      <% end %>
    </div>
  </div>
</div>