<div class="reserve">
  <div class="reserve-center">
    <div class="reserve-title">予約キャンセル確認画面</div>

    <div class="reserve-confirmation">下記ご予約をキャンセルしてよろしいでしょうか？</div>
      <div class="reserve-results">
        <div class="reserve-result">
          <div class="reserve-content">日時：<%= @reserve.reservation_date %></div>
          <div class="reserve-content">時間：<%= @reserve.perse_reservation_time %></div>
          <div class="reserve-content">人数：<%= @reserve.people_number %></div>
          <div class="reserve-content">電話番号：<%= @reserve.tel_number %></div>
        </div>
      </div> 
      <div class="reserve-button">
        <%= link_to 'トップページに戻る',root_path,class:'reserve-submit'%>
        <%= link_to 'キャンセル確定',reserf_path(@reserve),method: :delete,class:'reserve-submit'%>
      </div>
  </div>
</div>