<div class="reserve">
  <div class="reserve-center">
    <div class="reserve-title">予約確認画面</div>

    <div class="reserve-confirmation">下記内容でお間違いございませんでしょうか？</div>
    <div class="reserve-results">
      <div class="reserve-result">
        <div class="reserve-content">日時：<%= @reserve.resavation_date %></div>
        <div class="reserve-content">時間：<%= @reserve.resavation_time.name %></div>
        <div class="reserve-content">人数：<%= @reserve.people_number.name %></div>
      </div>  
    </div>
      <div class="reserve-button">
      <%= link_to '内容を変更する',back_reserves_path,class:'reserve-submit'%>
      <%= link_to '予約確定',reserves_path,method: :post,class:'reserve-submit'%>
    </div>
  </div>
</div>