<div class="reserve">
  <div class="reserve-center">
    <div class="reserve-title">新規予約</div>
    
    <div class="reserve-form">
      <%= form_with(model:@reserve,url:reserves_path,method: :post,local: true) do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
          <%= f.label :日付を選択：, class: 'lavel' %>
          <%= f.date_field :date, class: 'new-reserve-date',min: Date.current %><br>
          <%= f.label :時間を選択：, class: 'lavel' %>
          <%= f.collection_select(:time_id, ResavationTime.all, :id, :name, {}, {class:"new-reserve-time"}) %><br>
          <%= f.label :人数を選択：, class: 'lavel'%>
          <%= f.collection_select(:people_number_id, PeopleNumber.all, :id, :name, {}, {class:"new-reserve-people-number"}) %><br>
          <%= f.label :電話番号：, class: 'lavel'%>
          <%= f.text_field :tel_number, class: 'new-reserve-tel-number' %>
        <div class="reserve-new">
          <%= f.submit '予約する', class:'new-announce-submit'%>
        </div>
      <% end %>
    </div>
    <div class="button">
      <%= link_to 'トップページに戻る',root_path,class:'back_button'%>
    </div>
  </div>
</div>