<div class="reserve">
  <div class="reserve-center">
    <div class="reserve-title">管理　予約確認画面</div>

    <div class="reserve-confirmation">下記内容でお間違いございませんでしょうか？</div>
    <div class="reserve-results">
      <div class="reserve-result">
        <div class="reserve-content">日時：<%= @reservation.reservation_date %>　様</div>
        <div class="reserve-content">時間：<%= @reservation.perse_reservation_time %></div>
        <div class="reserve-content">人数：<%= @reservation.people_number %></div>
        <div class="reserve-content">電話番号：<%= @reservation.tel_number %></div>
      </div>  
    </div>
      <div class="reserve-button">
      <%= link_to '内容を変更する',back_admin_reservations_path,class:'reserve-submit'%>
      <%= link_to '予約確定',admin_reservations_path,method: :post,class:'reserve-submit'%>
    </div>
  </div>
</div>