<div class="reserve">
  <div class="reserve-center">
    <div class="reserve-title">管理　店休日一覧</div>

    <div class="parent-simple-calendar">
      <%= week_calendar(attribute: :reservation_date, events: @reservations) do |date, reservations| %>
        <div class="calendar-date">
          <%= date.strftime('%-m月%d日') %>
        </div>
        <% reservations.each do |reservation| %>
          <div>
            <%= reservation.reservation_time.strftime('%H:%M') %><span>　<%= reservation.people_number %>人</span>
          </div>
        <% end %>
      <% end %>
    </div>
    <% if @store_holidays.present?%>
      <div class="store_holiday_announce">現在、下記日程を店休日に設定しています。</div>
      <div class="store_holiday_center">
        <div class="store_holiday_index">
          <% @store_holidays.each do |holiday|%>
            <div class="store_holiday">
              ・<%= link_to holiday.store_holiday.strftime("%-m月%d日(#{@days[holiday.store_holiday.wday]})"),admin_store_holiday_path(holiday) %>
            </div>
          <% end %>
        </div>
      </div>
    <% elsif %>
      <div class="store_holiday_announce">現在、店休日は設定しておりません。</div>
    <% end %>

    <div class="button">
      <%= link_to '店休日を設定する',new_admin_store_holiday_path,class:'back_button'%>
    </div>
    <div class="button">
      <%= link_to 'トップページに戻る',root_path,class:'back_button'%>
    </div>
  </div>
</div>