<div class="reserve">
  <div class="reserve-center">
    <div class="reserve-title">新規予約</div>

    <div class="parent-simple-calendar">
      <%= week_calendar(attribute: :reservation_date, events: @reservations) do |date, reservations| %>
        <div class="calendar-date">
          <%= date.strftime('%-m月%d日') %>
        </div>
        <% reservations.each do |reservation| %>
          <div>
            <%= reservation.reservation_time.strftime('%H:%M') %><span>　<%= reservation.people_number %>人</span>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="newーreserve-caution">※ご予約状況により、選択肢が表示されない場合がございます。<br>
    </div>
    
    <div class="new-reserve-form">
      <%= form_with(model:@reservation,url:confirm_reservations_path,method: :post,local: true) do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <div class="reserve-fom">
          <%= f.label :日付を選択：, class: 'lavel'%>
          <%= f.text_field :reservation_date, class: 'new-reserve-date',id: "flatpickr" %><br>
          <%= f.label :時間を選択：, class: 'lavel' %>
          <%= f.select :reservation_time,@reservation.time_option, { include_blank: '選択してください'}, {class:"new-reserve-time"} %><br>
          <%= f.label :人数を選択：, class: 'lavel'%>
          <%= f.select :people_number,@reservation.people_number_option,{ include_blank: '選択してください'}, class:"new-reserve-people-number" %><br>
          <%= f.label :電話番号：, class: 'lavel'%>
          <%= f.text_field :tel_number, class: 'new-reserve-tel-number',placeholder:"ハイフンは必要ありません" %>
          <div class="reserve-new">
            <%= f.submit '予約確認画面へ', class:'new-reserve-submit'%>
          </div>
        </div>
      <% end %>
    </div>
    <div class="button">
      <%= link_to 'トップページに戻る',root_path,class:'back_button'%>
    </div>
  </div>
</div>
<script>
    flatpickr("#flatpickr", {
      locale:"ja",
      disable:[
        function(date) {
          return (date.getDay() === 1 || date.getDay() === 2 || date.getDay() ===3);
        }
      ],
      minDate:"today",
      maxDate: new Date().fp_incr(30)
    });
</script>