<!DOCTYPE html>
<html>
  <head>
    <title>小さな喫茶店</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="heading">
        <h1 class="title">小さな喫茶店</h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li><%= link_to ' 店舗紹介', "#", class: "top-show-shop" %></li>
          <li><%= link_to ' メニュー', "#", class: "top-show-menu" %></li>
          <li><%= link_to ' アクセス', "#", class: "top-show-access" %></li>
          <%# <% if user_signed_in? %>
            <li><%= link_to 'ようこそ', "#", class: "user-nickname" %></li>
            <li><%= link_to 'ログアウト', "#", class: "logout" %></li>
          <%# <% else %>
            <li><%= link_to 'ログイン', "#", class: "login" %></li>
            <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
          <%# <% end %>
          <li><%= link_to '予約する', "#", class: "top-show-reserve" %></li>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>Copyright(C) 小さな喫茶店 ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
