<!DOCTYPE html>
<html>
  <head>
    <title>小さな喫茶店</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="heading">
        <h1 class="title"><%= link_to '小さな喫茶店',root_path %></h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <% if user_signed_in? && current_user.admin %>
            <li>ようこそ<%= link_to current_user.nickname, "#", class: "user-nickname" %>さん</li>
            <li><%= link_to 'ログアウト', destroy_user_session_path,method: :delete, class: "logout" %></li>
            <li><%= link_to 'お知らせ一覧', admin_announces_path, class: "index-announce" %></li>
          <% elsif user_signed_in? %>
            <li>ようこそ<%= link_to current_user.nickname, "#", class: "user-nickname" %>さん</li>
            <li><%= link_to 'ログアウト', destroy_user_session_path,method: :delete, class: "logout" %></li>
          <% else %>
             <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
             <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <% end %>
          <li><%= link_to ' 店舗紹介', shop_path(1), class: "top-show-shop" %></li>
          <li><%= link_to ' メニュー', "#", class: "top-show-menu" %></li>
          <li><%= link_to '予約する', "#", class: "top-show-reserve" %></li>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>Copyright(C) 小さな喫茶店 ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
